<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBn1Hj8EMDTOkvo09caRZ-KmT16Ugu_YDo</string>
	<key>GCM_SENDER_ID</key>
	<string>976980092466</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.reeducation</string>
	<key>PROJECT_ID</key>
	<string>reeducation-d7e9c</string>
	<key>STORAGE_BUCKET</key>
	<string>reeducation-d7e9c.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:976980092466:ios:8cfeb5e3ab40771ee8fe2b</string>
</dict>
</plist>